@import "../../../data/styles.css";

.project {
    mix-blend-mode: normal;
    border-radius: 20px;
    opacity: 0.9;
    height:100%;

    background: #fff;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
}

.project a {
    text-decoration: none;
    color: inherit;
}

.project:hover {
    background: #fafafa;
    opacity: 1;
    transform: translateY(-5px);
}

.project-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.project-logo {
    width: 40px;
    margin-bottom: 10px;
}

.project-logo img {
    width: 100%;
}

.project-title {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.project-description {
    color: var(--secondary-color);
    font-size: 14px;
    line-height: 1.4;
    flex-grow: 1; /* push link to bottom */
}

.project-link {
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    font-size: 12px;
    margin-top: 15px;
}

.project-link-icon {
    font-size: 14px;
}

.project-link-text {
    padding-left: 10px;
    font-weight: 700;
}

@media (max-width: 600px) {
    .project {
        width: 100%;
    }
    .project-title {
        font-size: 16px;
    }
    .project-description {
        font-size: 13px;
    }
}
